.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-width-btn: 52px;
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

//search
.search, 
.search-result{
    width: 361px;
}

.search{
    display: flex;
    
    height: var(--search-height);
    position: relative;
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    background-color: rgba(22, 24, 35, 0.06);
    border: 1.5px solid transparent;

    &::after{
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-width-btn);
        height: calc(var(--search-height) - (var(--search-top-spacer) * 2));
        width: 1px;
        background-color: #a2a2a7;
    }

    &:focus-within{
        border-color: rgba(22, 24, 35, 0.2);
    }
    
    input{
        flex-grow: 1;
        background: transparent;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 22px;
        color: var(--black);
        caret-color: var(--primary-color);
    }
}

.search-title{
    height: 30px;
    padding: 5px 12px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

//if input not empty icon search change color
input:not(:placeholder-shown) ~ .search-btn{
    color: rgba(22, 24, 35, 0.75)
}

.clear-btn,
.loading{
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: calc(var(--search-width-btn) + 16px);
    top: 50%;
    transform: translateY(-50%);
}

.search-btn{
    width: var(--search-width-btn);
    height: 100%;
    background-color: transparent;
    padding: 11px 16px 11px 12px;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2.4rem;
    color: #a2a2a7;

    &:hover{
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active{
        background-color:  rgba(22, 24, 35, 0.06);
    }
}

//action
.actions{
    display: flex;
    align-items: center;
}

.menu{
    font-size: 2rem;
    height: 20px;
    width: 20px;
    padding: 0 4px;
    margin-left: 16px;
    background: transparent;
    cursor: pointer;
}

.actions{
    .btn-upload{
        color: var(--black);
    }

    .btn-upload:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.user-btn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 16px;
}

.avatar{
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 24px;
}

.btn-messages{
    position: relative;

    &::after{
        content: '';
    }
}



