.wrapper{
    width: 223px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    margin-top: 8px;

    .menu-item{
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
        padding: 9px 16px;
    }

    .menu-item:hover{
        background: rgba(22, 24, 35, 0.03);
        border-radius: 0;
    }
}


.menu-popper{
    padding-bottom: 8px;
}
